body.login-body {
	margin: 0;
	height: 100%;
	background: url(../img/book.jpg);
	background-size: cover;
}

.login-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 400px;
	padding: 40px;
	background-color: rgb(37, 46, 46);
	text-align: center;
}

.login-box h1 {
	color: white;
	font-size: 50px;
	font-family: 'Times New Roman', Times, serif;
}

.login-box input[type="text"],
.login-box input[type="password"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #00ffff;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	font-size: medium;
}

.login-box input[type="text"]:focus,
.login-box input[type="password"]:focus {
	width: 380px;
	border-color: chartreuse;
}

.login-box button[type="button"] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid chartreuse;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}

.login-box button[type="button"]:hover {
	background: #2ecc71;
}

#fgtpwd {
	color: white;
	text-decoration: none !important;
}

.login-box p {
	width: 100%;
	text-align: center;
	margin: 10px 0 20px;
	color: red;
	visibility: hidden;
}

.login-box hr {
	border-color: red;
	visibility: hidden;
}

.firebaseui-tos,
.firebaseui-tospp-full-message {
	text-align: center;
	line-height: normal;
	margin: auto;
}

body.system-body {
    max-width: 100%;
    width: auto;
    height: auto;
    background: url(../img/systemBgd.jpg);
    background-size: 120%;
    color: #f1f1f1;
}

.sidebar {
	height: 100%;
	width: 60px;
	position: fixed;
	background-color: rgb(37, 46, 46);
	top: 0;
	left: 0;
	z-index: 1;
	transition: 0.5s;
	overflow-x: hidden;
	padding-top: 25px;
	white-space: nowrap;
}

.sidebar a {
	padding: 4px 4px 4px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
    border-left-style: solid;
    border-left-color: #f1f1f1;
}

main .sidebar {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 25px;
	margin-left: 50px;
}

.material-icons,
.icon-text {
	vertical-align: middle;
}

.material-icons {
	padding-bottom: 3px;
	margin-right: 30px;
}

#main {
	padding: 16px;
	margin-left: 60px;
	transition: margin-left 0.5s;
}

#home,#task,#practice,#logout,#setting{
    visibility: visible;
}